
.image-bg{
    background-image: url('https://files.edgestore.dev/li1g6vchhfjyhtr3/rentEaseImages/_public/584ed2eb-cfa4-4a08-b008-c33fab09ea0e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}